<%= render "shared/header" %>
<div class="recipe-show-container">

  <h3><%= @recipe.name %></h3>
  <div>

    <form action="/recipes/<%= params[:id] %>" method="patch" data-remote="true">
      <input type="submit" value="Save">
      <label class="switch" for="check">
        <input type="checkbox" id="check" name="public"
               <% if @recipe.public == 'yes' %>checked
               <% end %> value="yes">
        <span class="slider round"></span>
      </label>

    </form>
  </div>
  <div class="recipe-description">
    <h4>Preparation time: <%= @recipe.preparatio_time %></h4>
    <h4>Cooking time: <%= @recipe.cooking_time %></h4>
    <p class="description"><%= @recipe.description %></p>
  </div>
</div>
<div class="food-recipe-container">
  <div class="recipe-buttons">
    <%= link_to "Generate Shopping List", general_shopping_list_path, class: "btn btn-primary mb-1" %>
    <a href="<%= new_recipe_recipe_food_path(params[:id]) %>" class="add_ingredient_link">
      Add Ingredient
    </a>
  </div>
  <div class="recipe_food_list">
    <div>
      <p>Food</p>
    </div>
    <div>
      <p>Quantity</p>
    </div>
    <div>
      <p>Price $</p>
    </div>
    <div>
      <p>Actions</p>
    </div>
  </div>
  <% @recipe_foods.each do |recipe_food| %>
    <div class="recipe_food_list">
      <div>
        <p><%= recipe_food.name %></p>
      </div>
      <div>
        <p><%= recipe_food.quantity %>g</p>
      </div>
      <div>
        <p>$<%= recipe_food.price %></p>
      </div>
      <div>
        <a href="<%= edit_recipe_recipe_food_path(params[:id], recipe_food.id) %>">Modify</a>

        <%= button_to "Remove", recipe_recipe_food_path(params[:id], recipe_food.id), method: :delete, class: 'delete-recipe_food' %>

      </div>
    </div>
  <% end %>
</div>
  