<%= render "shared/header" %>

<%= form_with model: @recipe_food, url: recipe_recipe_food_path(@recipe, @recipe_food), method: :patch, data: { turbo: false } do |form| %>
  <div class="mb-3">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, class: 'form-control', placeholder: 12, type: 'number' %>
  </div>
  <div class="mb-3">
    <%= form.submit 'Save Changes', class: 'btn btn-primary' %>
  </div>

<% end %>